---
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import AudioPlayer from "../../components/AudioPlayer.astro";
const { key } = Astro.params;

const {env} = Astro.locals.runtime;
const result = await env.UPLOADER.getUpload(key);
---

<Layout>
  <h1>Key: {key}</h1>
  <AudioPlayer src={result.dataURL} transcription={result.metadata.text} vtt={result.metadata.vtt} />
</Layout>
